body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section_menu {
    margin: 1rem auto;
    padding: auto 0;
    height: 70vh;
}

.section_menu article {
    margin-top: 30%;
    height: 100%;
}

.contianer_list_menu {
    height: 100%;
    width: 100%;

    margin: 0 auto;
}

.contianer_menu, .menu, ul {
    height: 100%;
}

.menu ul {
    list-style: none;
    font-size: 1.6rem;

    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem; 

}

.menu ul a {
    text-decoration: none;

    color: gray;

}

.clicked {
    background-color:  #efefef ;
}



.acceso {
    /* background-color: white; */
    border-radius: 1rem;
    height: 5rem;
    
    display: flex;
    text-align: center;
    /* align-content: center; */
    align-items: center;
    justify-content: center;

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

}


