main {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #efefefef;
}

section, article, .container_all_conversation {
    width: 100%;
    height: 100%;
}

.container_name_doc {
    width: 100%;
    height: 5rem;
}

.logo_name_doc {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: .8rem 1rem;
    gap: 1rem;

    box-shadow: -3px 1px 14px -2px gray;

    position: relative;
}

.img_logo_doc {
    width: 50px;
    height: 50px;
    background-color: white;


    

    border-radius: 3rem;
}

.name_doc {
    /* background-color: green; */
    /* display: flex; */
    width: min-content;
    height: min-content;
    
}

#name_doc {
    font-size: 1.3rem;
}

#id_doc {
    font-size: .8rem;
}

#reporter_doc {
    width: 50px;
    height: 50px;

    /* box-shadow: 0px 0px 13px -5px gray; */
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    font-size: 1.5rem;

    /* ESTO DEBE ESTAR ANIMADO CON JS */

    right: 3%;

}


/* CONVERSACIÓN */
.container_conversation {
    height: 56.5%;
    width: 99%;

    margin: 0 auto;

    /* background-color: #afafafaf; */
    background-color: rgba(255, 255, 255, 0.082);

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    border: none;
    border-radius: 4px;
}










/* INPUT */
.container_input_chat {

    width: 100%;
    height: 4rem;
    /* background-color: red; */

    display: flex;
    align-items: center;

    /* overflow-y: ; */
    /* justify-content: space-around; */

}

.container_input {
    width: 90%;
    height: 2.5rem;
    padding: 1rem;

    display: flex;
    justify-content: baseline;
    gap: 1rem;
}

.container_input input {
    padding-left: 1rem ;
    width: 100%;
    min-height: 80%;
    max-height: max-content;
    /* background-color: green; */
    border-radius: 2rem;
    border: none;

    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#enviar img {
    font-size: 1px;
    width: 40px;
    height: 40px;
    color: rgb(107, 107, 107);

    border-radius: 3rem;
    /* color: gray; */
    /* background: transparent; */
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */

}

